@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/proxima-nova.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova', sans-serif;
}
