<div>
  <% @title = "Categories" %>
  <%= render "shared/header", locals: { title: @title }, back: false %>

  <h1 class="text-4xl font-bold">Categories#home</h1>
  <p>Find me in app/views/categories/home.html.erb</p>
</div>